
units/roller_blinds/roller_blind_controller/~_autosave-roller_blind_controller.kicad_pcb.lck
units/roller_blinds/roller_blind_controller/~roller_blind_controller.kicad_sch.lck
units/roller_blinds/roller_blind_controller/\#auto_saved_files\#
units/roller_blinds/roller_blind_controller/_autosave-roller_blind_controller.kicad_pcb
units/roller_blinds/roller_blind_controller/M5Stack_POE.bak
/units/roller_blinds/roller_blind_controller/roller_blind_controller-backups
